
<table border="1">
    <tr><th> number</th> <th> tasks</th><th>action</th></tr>
    <tr *ngFor=" let task of tasks"> 
    <tr *ngFor="let t of tasks">
        <td class="focus">
            <input type="text" [(ngModel)]="t.number" [disabled]=!t.isEditable>
            <!--{{t.number}}-->
        </td>
        <td>
            {{t.taska}}
        </td>
        <td>
            <app-in-container [number]="t.number" [isEditable]="!t.isEditable"
                              (dataSender)="onHandleEvent($event)"
                              (stringSender)="onSHandleEvent($event)"></app-in-container>
        </td>
    </tr>
</table>


<form #form [formGroup]="_form" (ngSubmit)="onSubmit(form)" novalidate>
    <tr>
        <td>
            <input [(ngModel)]="f_number" formControlName="number">
        </td>
        <td>
            <input [(ngModel)]="f_task" formControlName="task">
        </td>
        <td>
            <input type="submit" value="Add" (click)="onAdd()" [disabled]="!_form.valid">
            <input type="submit" (click)="onSave()" value="Save">
            <input type="reset" value="Reset">
        </td>
    </tr>

</form>



